@import "~formiojs/dist/formio.builder.min.css";
@import "~formiojs/dist/formio.form.min.css";
@import "~@tsed/shared/src/styles/index.css";
@import "~react-toastify/dist/ReactToastify.css";

body {
    @apply bg-gray-100;
}

.Toastify__progress-bar--default {
    background: transparent;
    @apply bg-primary;
}

.Toastify__toast.success .Toastify__progress-bar--default {
    @apply bg-green-700;
}

.Toastify__toast.danger .Toastify__progress-bar--default {
    @apply bg-red-700;
}

.Toastify__toast.warning .Toastify__progress-bar--default {
    @apply bg-yellow-700;
}

.Toastify__toast.info .Toastify__progress-bar--default {
    @apply bg-blue-700;
}

.help-block {
    @apply block text-sm text-center;
}

.has-error .help-block {
    @apply text-red-700;
}
